<div class="container-fluid">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="col">
        <!-- Title -->
        <h2 class="text-center">To-do list</h2>
      </div>
      <div class="row">
        <!-- The input element for users to add To Do -->
        <div class="col-10">
          <input class="col-12" placeholder="New To-Do" id="newTask">
        </div>
        <!-- A button for adding ToDos -->
        <div class="col-1">
          <button onclick="postTask()" type="button" class="btn btn-sm btn-primary">Add</button>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <button onclick="clickedActive()" type="button" class="btn btn-sm btn-light">Active</button>
      <button onclick="clickedCompleted()" type="button" class="btn btn-sm btn-light">Completed</button>
      <button onclick="clickedAll()" type="button" class="btn btn-sm btn-light">All</button>
      <br>
      <br>
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6" id="to-do-items">
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
